@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

html, body {
  margin:0;
  padding:0;
  color: #333333;

  /*font-family: Copperplate / Copperplate Gothic Light, sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  font-style: "Extra-light";
}

header {
  font-size: 64px;
}


.container {
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-style: "Thin";
  padding:1px;
}

.panel {
  background-color:#000;
  display:inline-block;
  flex:1 1;
  height:250px;
  width: 250px;
  flex-basis: 200px;
  margin:1vmin;
  padding: 5px;
  overflow:hidden;
  position:relative;

  background-image:radial-gradient(circle, palegreen, yellowgreen);
  border:solid 1px #000;
  box-shadow:0 6px 6px 6px #000;
}

.panel.map {
/*  min-width: 40vw;
  max-width: 40vw;
 min-height:60vw;
  max-height:60vw;
  flex-basis:none;*/
  
  background-image:radial-gradient(circle, white, white);
  border:solid 1px #ddd;
  border-radius: 5px;
  box-shadow: none;

  height: 0; 
  min-width: 40%;
  max-width: 40%;
  padding-bottom: 30%;
}



.panel.map.mini {
  min-width: 30%;
  max-width: 30%;
  padding-bottom: 22.5%; 
}

.panel.padding {
  width: 1vw;
  flex-basis:0.1vw;
  
  background-image: none;  
  opacity: 0;
}

.panel.header {
  height: 10vh;
  min-width:99vw;
  max-width:99vw;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
  
  background-image:radial-gradient(circle, white, white);
  border-right: none;
  border-left: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
}

.panel.image {

}

img {max-width:100%;object-fit: contain;}

.panel.text {
  flex-basis: 90vw;
  width: 90vw;
  height: auto;
  column-count: 2;
  column-gap: 2.5vw;
  text-align: justify;
  
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  padding-top: none;
  padding-bottom: none;

  background-image:radial-gradient(circle, white, white);
  border-right: none;
  border-left: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
}


.panel.text.borderless {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.panel.text.one {
    column-count: 1;
}

.panel.text.sources {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  
  column-count: 2;
  font-size: 10px;
}

path, path {
  stroke: black;
  stroke-width: 0.1px;
}

path:hover, path.highlighted {
  /*fill: tomato;*/
  stroke-width: 0.5px;
  opacity: 0.5;
}